* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #2a324b;
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    font-family: 'Exo 2', sans-serif;
}

h1 {
    margin-left: 50px;
    font-size: 60px;
}

h3 {
    margin-left: 400px;
    font-size: 50px;
    color: grey;
}

.layout {
    width: 50%;
    margin-left: 400px;
}

.container {
    width: 100%;

}

.navTop {
    background-image: url("https://lh3.googleusercontent.com/proxy/FPa6fy7J_KZEtfglb5thh-xEs3IXChYCEp_YIRTzQqU5kEKqUUNIG7x0i_up5KVAEdY-3oj1a7MXx5OUKZcewAecvwR-l_LrfSm8L5R823EpKpkV-wNc7_48fFKUQPhZe_Cl-Ok0");
    background-size: contain;
    padding: 80px;
    width: 80%;
    margin: 0 auto;
    color: black;
    border-style: solid;
    border-width: 1px;
    border-color: #2a324b;
    text-align: center;
    margin-bottom: 30px;
}

.btn {
    margin-bottom: 100px;
    margin-left: 400px;
    top: 100px;
    color: white;

}

.container input {
    width: 100%;
}

.imagess {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    width:90%;
}

.ballon {
    background-image:url("ballon.jpg");
    background-size: cover;
    width:700px;
    height:400px;
    justify-content: center;

}

.manu {
    background-image:url("santi.jpg");
    background-size: cover;
    width:700px;
    height:400px;
    justify-content: center;
}